#template {
  margin: 1rem 0 1rem 0;
}

#container {
  display: flex;
  justify-content: center;
  height: 90vh;
}

a {
  text-decoration: none;
  color: #00b894;
}

#container-img {
  width: 32%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container img {
  width: 80%;
  height: 58%;
  border: 5px solid #00b894;
  border-radius: 100%;
}

#about-me {
  width: 40%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-me h2 {
  font-size: 2.5rem;
}

#about-me-text {
  margin: 1rem 0 1rem 0;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

#about-me-text p {
  text-indent: 2rem;
}

#social-networks-bottom {
  display: none;
}

#social-networks {
  margin-top: 1.5rem;
}

#social-networks a:not(:last-child) {
  margin-right: 0.5rem;
}

#social-networks i {
  font-size: 1.5rem;
}

@media (max-width: 952px) {
  #container {
    display: block;
    margin: 7rem 2rem 2rem 2rem;
    height: auto;
  }

  #container-img,
  #about-me {
    width: auto;
  }

  #about-me {
    margin-top: 2rem;
  }

  #social-networks {
    display: none;
  }

  #social-networks-bottom {
    display: block;
  }

  #social-networks-bottom a:not(:last-child) {
    margin-right: 0.5rem;
  }

  #social-networks-bottom i {
    font-size: 2.5rem;
  }
}
